/* src/components/auth/Auth.css */

.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* Ajuste para el header y footer */
    padding: 2rem;
    background-color: #f0f2f5;
}

.auth-form-card {
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.auth-form-card h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.form-group {
    text-align: left;
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.form-group input:focus {
    outline: none;
    border-color: #4855D2;
}

.auth-form-card .btn-primary {
    width: 100%;
    background-color: #4855D2;
    color: #fff;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-form-card .btn-primary:hover {
    background-color: #3e4cbb;
}

.auth-footer {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #777;
}

.auth-footer a {
    color: #4855D2;
    text-decoration: none;
    font-weight: 500;
}

.auth-footer a:hover {
    text-decoration: underline;
}

.error-message {
    color: #e53935;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.success-message {
    color: #43a047;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.file-hint {
  font-size: 0.85rem;
  color: #6c757d;
  margin-top: 5px;
}

.form-group label[for="content-type"] {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: 500;
}

#content-type {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}